body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

body > fieldset {

	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

header h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 30px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

body main {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

body main div {
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

body main  div  label {
	display: none;
}

body  main  div  input {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	position: relative;
height: auto;
margin: 0;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-sizing: border-box;
padding: 10px;
font-size: 16px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
}

#actionSignIn {

	display: block;
	width:100%;
	
	background-image: none;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	text-align: center;
white-space: nowrap;
vertical-align: middle;
font-weight: 400;
margin-bottom: 0;
}



.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
